h1 {
   color: green; 
}

#logo {
   margin-left: 30px;
}

#phoneItem {
   font-size: 2em;
   margin-left:0.3em;
}

#telefonnecislo {
   font-size: 2em;
   margin-top: 0em;
   margin-bottom: -10px;
   margin-left:0em;

}